<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Bootstrap 实例 - 标签页（Tab）插件</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#home" data-toggle="tab">
			 菜鸟教程111
		</a>
	</li>
	<li  ><a  data-toggle="tab"  id="one">iOS</a></li>
	<li class="dropdown">
		<a href="#" id="myTabDrop1" class="dropdown-toggle" 
		   data-toggle="dropdown">Java 
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
			<li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
			<li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
		</ul>
	</li>
</ul>
<div id="myTabContent" class="tab-content">
	
</div>
<script type="text/javascript">
$("ul li:eq(1) a").click(function(){
	$("#myTabContent").load("uploadIndex");
})
$("ul li:eq(0) a").click(function(){
	$("#myTabContent").load("getStudent");
})
	$("#myTabContent").load("getStudent");
var close=$("#close");
close.click(function(){
	//alert($("ul li:eq(1) a").text());
	$("ul li:eq(1) a").hide();
    $("#ios").hide();
})
	


</script>


</body>
</html>