<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="upload">
<div >
<div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					上传
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
                        <div class="col-lg-12">
                            <form id="defaultForm" method="post" class="form-horizontal recoveryNodeForm" action="">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">导入文件:</label>
                                        <div class="col-lg-6">
                                            <input type="file" class="form-control" style="height:36px;" name="uploadFile" id="uploadFile"/>
                                        </div>
                                        <button type="button" class="btn btn-primary" id="uploadExcel">上传</button>
                                    </div>
                                </div>
                                <input type="hidden" name="pkId" value="" />
                            </form>
                        </div>
                    </div>
					<div class="col-lg-12">
                   <label class="col-lg-3 control-label">导入结果反馈:</label>
                     <ul id="exportResult">
                      </ul>
                    </div>
			</div>
			
			  
                    
			<div class="modal-footer">
				<button type="button" class="btn btn-default" 
						data-dismiss="modal">关闭
				</button>
<!-- 				<button type="button" class="btn btn-primary"> -->
<!-- 					确定上传 -->
<!-- 				</button> -->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
<script>
$(document).ready(function(){
$("#uploadExcel").click(function (){
//     $(".recoveryNodeForm").data("bootstrapValidator").validate();
//     var flag = $(".recoveryNodeForm").data("bootstrapValidator").isValid();
//     if(!flag){
//         //未通过验证
//         return false;
//     }
console.log("aa");
    var fileObj = document.getElementById("uploadFile").files[0];
    var formFile = new FormData();
    formFile.append("file", fileObj);
    var data = formFile;
    $.ajax({
        url: 'importExcel',
        data: data,
        type: "post",
        dataType: "json",
        cache: false,//上传文件无需缓存
        processData: false,//用于对data参数进行序列化处理 这里必须false
        contentType: false, //必须
        success: function (result) {
            var htmlstr = '';
//             if(result.result==false){
//                 for(var i=0;i<result.data.length;i++){
//                     htmlstr += '<li>'+result.data[i]+'</li>';
//                 }
//             } else {
//                 htmlstr = '<li>上传成功</li>';
//             }
            htmlstr = '<li>上传成功</li>';
            $('#exportResult').html(htmlstr);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            DialogUtil.error("系统错误");
        }
    });
});
});


</script>
</body>