<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.StudentMapper">

	<resultMap id="BaseResultMap" type="com.example.demo.entity.StudentEntity">

		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name"	jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="ages" property="ages" javaType="INTEGER" />
		<result column="date" property="date" javaType="DATE" />
		 <association property="score" column="id"
                      select="com.example.demo.mapper.ScoreMapper.getAll">
        </association>

	</resultMap>

<!-- 	<sql id="Base_Column_List"> -->
<!-- 		id,name,sex,ages,date -->
<!-- 	</sql> -->

	<select id="getAll" resultMap="BaseResultMap">
		SELECT
	stu.id,stu.name,stu.sex,stu.ages,DATE_FORMAT(stu.date,'%Y-%m-%d') as date2
		FROM student stu
	</select>

 <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        SELECT 
       *
     FROM student
     WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.demo.entity.StudentEntity" >
       INSERT INTO 
          student
          (id,name,sex,ages) 
        VALUES
          (#{id}, #{name}, #{sex},#{ages})
    </insert>
    
    <update id="update" parameterType="com.example.demo.entity.StudentEntity" >
       UPDATE 
          student
       SET 
        <if test="name != null">name = #{name},</if>
        <if test="ages != null">passWord = #{ages},</if>
       
       WHERE 
          id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Integer" >
       DELETE FROM
           student 
       WHERE 
           id =#{id}
    </delete>


</mapper>



